body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 10px;
    
}
.form-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
label {
   
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}
input[type="text"]{
    width: 7%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
input[type="number"] {
    width: 7%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
input[type="submit"] {

    background-color: #33969dbf;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}
input[type="submit"]:hover {
    background-color: #33969dbf;
    box-shadow: 0 0 10px rgba(57, 58, 58, 0.56);
}
button{
    background-color: blue;
    color: white;
    border: none;
    height: 30px;
}
