<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./views/assets/css/style.css">
    <title>Formulario de Número</title>
</head>
<body>
    <h1>Ingrese un número</h1>
    <form id="numero" name="numero"  method="get" action="./views/action/action.php">
        <label for="numero">Número:</label>
        <input type="number" id="numero" name="numero">
        <br><br>
        <input  type="submit" name="submit" value="Enviar">
    </form>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="./assets/javascript/validarEj1.js"></script>
</body>
</html>
