/* Estilos generales */
body {
    background-color: #f8f9fa;
    font-family: Arial, sans-serif;
}

h1 {
    color: #343a40;
    margin-bottom: 30px;
}

form {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.alert {
    font-size: 1.2em;
    text-align: center;
    margin-top: 20px;
}

